DATABASE_URL="postgresql://postgres:changeme@localhost:5432/hr?sslmode=disable"
PORT=3041
JWT_SECRET="change-this-to-a-random-secret"
JWT_REFRESH="change-this-to-another-random-secret"
REDIS_URL="redis://:changeme@127.0.0.1:6379"
ZK_IP=192.128.69.33
ZK_PORT=4370
ATTENDANCE_SYNC_INTERVAL_MS=300000
